$periwinkle: #927bc1;
$baby-periwinkle: #deb2ee;
$flamingo: #fd7856;
$baby-blue: #7ee6fd;
$frog-green: #88d9a0;


//$color-normal: $periwinkle;

//$color-interesting: $baby-periwinkle;

//$color-primary: $flamingo;

//$color-secondary: $baby-blue;

//$color-thirdly: $frog-green;


//media query breakpoint

$break-z : '768px';


// @media #{$break-z} {
//     background-color: green;
// }

//Last at #4 on project 4, for some reason my new variables are messing my webpage up